@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Mono:wght@300&display=swap');


:root {
    --cor1: #F2E4D8;
    --cor2: #F2CDAC;
    --cor3: #D99255;
    --cor4: #8C4C3E;
    --cor5: #4B2F24;
}

* {
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

.titulo {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;

}

main {
    display: flex;
    font-family: 'Inter', sans-serif;
    background-color: #F2E4D8;
}

h1 {
    font-size: 60px;
}

span {
    color: var(--cor4);
}

